<h1>Editing production_record</h1>

<%= render 'form' %>

<%= link_to 'Show', [@block, @production_record], :class => 'btn btn-xs btn-primary ' %> |
<%= link_to 'Back', showphenology_block_path(@block), :class => 'btn btn-xs btn-primary ' %>
