<div class="jumbotron">
        <h1>DBFruitVar</h1>
        <p>DBFruitvar is a database application to keep phenotyping records of fruit tree cultivar collections. It includes 
           the possibility to record phenology, production and quality records of different fruit tree cultivar collections in
           different sites and different species</p>
        <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div>
