<h3>Editing accession</h3>

<%= render 'form' %>

<%= link_to 'Show', @accession, :class => 'btn btn-xs btn-primary '  %> |
<%= link_to 'Back', accessions_path, :class => 'btn btn-xs btn-primary ' %>
