<h3>Editing country</h3>

<%= render 'form' %>


	<%= link_to 'Show', @country, :class => 'btn btn-xs btn-primary '  %> |
	<%= link_to 'Back', countries_path, :class => 'btn btn-xs btn-primary '  %>

